body {
  margin: 0;
}

/* App.css */
#R3FDomAlignScroll::-webkit-scrollbar {
  display: none;
}

.r3fDomAlignGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin: 0;
}

@media (min-width: 768px) {
  /* Tailwindのmdブレークポイントはデフォルトで768px */
  .r3fDomAlignGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
